---
import { Post,SubPost } from '../../lib/interfaces.ts'
import { getPostByPageId,getSubPostByPageId } from '../../lib/notion/client'
import { getPostLink,getSubPostLink } from '../../lib/blog-helpers.ts'
import '../../styles/notion-color.css'
import arrow from '../../images/icon-arrow-link.svg'

export interface Props {
  pageId: string
}

const { pageId } = Astro.props

let post: Post = null
let subPost: SubPost = null
if (pageId) {
    post = await getPostByPageId(pageId)
    if (!post) {
    subPost = await getSubPostByPageId(pageId)
  }
}
---

{post ? (
  <a href={getPostLink(post.Slug)} class="link">
    <>
      <span class="icon">
        {post.Icon && post.Icon.Type === 'emoji' ? (
          post.Icon.Emoji
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <img src={post.Icon.Url} class="notion-icon" />
        ) : (
          '📄'
        )}
        <img src={arrow} class="icon-link" alt="" />
      </span>
      <span class="text">{post.Title}</span>
    </>
  </a>
) : subPost ? (
  <a href={getSubPostLink(subPost.Slug)} class="link">
    <>
      <span class="icon">
        {subPost.Icon && subPost.Icon.Type === 'emoji' ? (
          subPost.Icon.Emoji
        ) : subPost.Icon && subPost.Icon.Type === 'external' ? (
          <img src={subPost.Icon.Url} class="notion-icon" />
        ) : (
          '📄'
        )}
        <img src={arrow} class="icon-link" alt="" />
      </span>
      <span class="text">{subPost.Title}</span>
    </>
  </a>
) : (
  <a class="link">
    <span class="icon">
      🚫
      <img src={arrow} class="icon-link" alt="" />
    </span>
    <span class="text not-found">Post not found</span>
  </a>
)}


<style>
  a.link {
    font-weight: 600;
    gap: 4px;
  }
  span.icon {
    height: fit-content;
    flex-shrink: 0;
    position: relative;
  }
  span.icon img.notion-icon {
    width: 1.3em;
    height: fit-content;
    vertical-align: sub;
    flex-shrink: 0;
    position: relative;
  }
  span.icon img.icon-link {
    display: block;
    position: absolute;
    top: 1em;
    right: 0;
    width: 8px;
    height: 8px;
  }
  span.text {
    color: var(--fg);
    font-weight: 500;
    text-decoration: underline;
  }
  span.text.not-found {
    font-weight: normal;
    text-decoration: none;
  }
</style>
