---
import Layout from '../layouts/Layout.astro'

import {
  getAllStaticTags,
  getAllBlocksByBlockId,
  getHome,
  getMenuStatics,
} from '../lib/notion/client.ts'

import SiteStaticsLink from '../components/SiteStaticsLink.astro'
import SiteTagsLink from '../components/SiteTagsLink.astro'
import PostBody from '../components/PostBody.astro'
import styles from '../styles/blog.module.css'

const pageid = await getHome()

const [blocksHome, menuStatics, tags] = await Promise.all([
  getAllBlocksByBlockId(pageid[0].PageId),
  getMenuStatics(),
  getAllStaticTags(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <main>
      <PostBody blocks={blocksHome} />
    </main>
  </div>
  <div slot="aside" class={styles.aside}>
    <SiteStaticsLink heading="menu" posts={menuStatics} />
    <SiteTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>

<style>
  main {
    width: 70%;
  }
</style>
