---
import Layout from '../layouts/Layout.astro'
import { HOME_PAGE_ID } from '../server-constants'

import {
  getAllBlocksByBlockId,
  getRankedPosts,
  getAllTags,
} from '../lib/notion/client.ts'
import PostBody from '../components/PostBody.astro'
import BlogPostsLink from '../components/BlogPostsLink.astro'
import BlogTagsLink from '../components/BlogTagsLink.astro'
import styles from '../styles/blog.module.css'

const [blocksHome, rankedPosts, tags] = await Promise.all([
  getAllBlocksByBlockId(HOME_PAGE_ID),
  getRankedPosts(),
  getAllTags(),
])
---

<Layout>
  <div slot="main" class={styles.main}>
    <main>
      <PostBody blocks={blocksHome} />
    </main>
  </div>
  <div slot="aside" class={styles.aside}>
    <BlogPostsLink heading="Recommended" posts={rankedPosts} />
    <BlogTagsLink heading="Categories" tags={tags} />
  </div>
</Layout>
